/* Created and Modified by luisls1717@gmail.com */

/* UI GRID FIX */
.fs-mini-grid .ui-grid-cell-contents{ 
    padding: 5px;
}
.fs-mini-grid .ui-grid-header-cell .ui-grid-cell-contents{ 
	font-size: 12px; 
}
.fs-mini-grid .ui-grid-header-cell .ui-grid-cell-contents{ 
    text-transform: uppercase;
}
.fs-mini-grid .ui-grid-cell, .ui-grid-row {
    min-height: 28px;
    height: 28px;
}
.fs-mini-grid .ui-grid-column-menu-button {
     top: 0; 
}
.fs-mini-grid.ui-grid{ 
	border: 1px solid rgb(204, 219, 230);
}
.fs-mini-grid.ui-grid .ui-grid-contents-wrapper{ 
	background-color: #e3e7ea;
}
.ui-grid-viewport .ui-editCell, .ui-editPanel{
    background-color: #fcfbcd !important;
    font-style: oblique !important;
}
.ui-grid-disable-selection, .fs-mini-grid .ui-grid-cell{
    -webkit-touch-callout:all !important;
    -webkit-user-select:all !important;
    -khtml-user-select:all !important;
    -moz-user-select:all !important;
    -ms-user-select:all !important;
    user-select:all !important;
    cursor:default;
}
/* background */
.image-bg{
    background-image: url(../dinamic/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
	text-transform: uppercase;
}
.fs-mini-grid .ui-grid-pager-panel{ 
	background-color: #f6f8f8;
 	border-top: 1px solid #ccdbe6;
}
.modal-xlg { 
    width: 900px;
}
/*FONT SIZE*/
.f-10{
    font-size: 10px; 
    margin: 0;
}
.f-9{
    font-size: 9px; 
    margin: 0;
}
.input-normal-border{
    border-color: #cfdadd;
}
.input-danger-border{
    border-color: #f05050;
}
.input-success-border{
    border-color: #27c24c;
}
.form-group-sm{
    margin-bottom: 8px;
}

.fieldset-sm legend{
	text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

form.edit-form input, form.edit-form select, .edit-form input, .edit-form select { 
	background-color: #fcfcbc; 
}

.navbar-brand img { 
    max-height: 80px;
}

.navi-wrap .ambiente select{
	width: 88%;
    margin: auto;
    height: 24px;
    font-size: 10px;
    padding: 4px;
}

.text-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*width: 106px;*/
    display: block;
}
    
.lead.lead-sm {
    margin-bottom: 10px; 
}

.input-xs {
    height: 24px;
    padding: 3px 6px;
    font-size: 11px;
    line-height: 1.2;
    border-radius: 3px;
}

/* login */
.bg-white-tr {
    background-color: rgba(255,255,255,0.7);
}

.{
    background-color: rgba(255,255,255,0.8);    
}

.btn-xs .dropdown-menu > li > a { 
    padding: 3px 10px;
    font-size: 12px; 
}

.btn-xs .dropdown-menu > li > a.text-danger { 
    color: red;
}

.nav-tabs-alt .nav-tabs > li.active > a.bg-celeste-tab { 
    background-color: #23b7e5 !important;
    color: white;
}
.waterMarkEmptyData {
    position: absolute;
    top : 80px;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

/* CALENDAR */
.fc-event.b-primary{
    background-color: #7266ba !important;
    color: #fff !important;
}

.fc-event.b-success{
    background-color: #27c24c !important;
    color: #fff !important;
}

.menu-dropdown.right{
    margin-left:10%;
}

.fc-title{
    font-size: 10px;
    letter-spacing: 0px;
}

.fc-body .fc-time-grid-container{
    overflow-y: visible !important;
    height: auto !important;
}

.fc-event .fc-bg{
    background: transparent !important;
}

.fc-event.unico{
    right: 0% !important;
    left: 0% !important;
    margin-right: 0 !important;
}

.seleccionado{
    background: #1199d3;
    padding: 3px 5px;
    border-radius: 3px;
    color: white;
    font-weight: 900;
}

.fc-event{
    border: 1px solid #dddddd !important;
}

/* dropdown menu contextual */
.dropdown .dropdown-menu.with-arrow {
  margin-top: 10px;
}
.dropdown .dropdown-menu.with-arrow:before {
  content: "";
  position: absolute;
  right: 10px;
  top: -10px;
}
.dropdown .dropdown-menu.with-arrow:after {
  content: "";
  position: absolute;
  right: 11px;
  top: -8px;
}
.dropdown .dropdown-menu.pull-right.with-arrow:before {
  left: auto;
  right: 11px;
}
.dropdown .dropdown-menu.pull-right.with-arrow:after {
  left: auto;
  right: 12px;
}
.dropdown .dropdown-menu > li > a > i {
  width: 20px;
  display: inline-block;
}
.dropdown .dropdown-menu.dropdown-menu-custom {
  display: block;
  top: -2px;
  left: auto;
  right: 0;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transition: opacotity 0.3s cubic-bezier(0.19, 1, 0.22, 1), transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(0);
  transform-origin: 90% 0;
  backface-visibility: hidden;
  opacity: 0;
}
.dropdown .dropdown-menu.dropdown-menu-custom > li a {
  padding: 8px 20px;
}
.dropdown.open .dropdown-menu-custom {
  transform: scale(1);
  opacity: 1;
}
.dropdown.dropup .dropdown-menu.dropdown-menu-custom {
  top: auto;
  bottom: -2px;
}

/* CUSTOM TOOLTIP */
.tooltip-event {
    width: auto;
    height: auto;
    background: #000;
    color: #fff;
    position: absolute;
    z-index: 999;
    padding: 4px;
    border-radius: 8px;
    font-size: 11px;
}