<div class="" ng-controller="HistorialCobroCtrl" style="background-color: rgba(255,255,255,0.85);">
  <div class="bg-light lter b-b wrapper-md">
    <div class="m-n font-thin h3"> Historial de Cobros </div>
  </div>
  <div class="row-row">
    <div class="cell scrollable hover">
      <div class="cell-inner">
        <div class="tab-content">
          <div class="tab-pane active" id="cobros">
            <div class="wrapper-md">
              <div class="row">
                <div class="col-xs-12"> 
                  <div class="form-group mb-n"> 
                    <div class="inline w-md mr-xs"> 
                      <label class="control-label text-ellipsis"> Desde </label> 
                      <div class="input-group block clearfix"> 
                        <input tabindex="110" type="text" class="form-control input-sm mask" ng-model="fBusqueda.desde" style="width: 50%;" input-mask mask-options="{alias: 'dd-mm-yyyy'}" />
                        <input tabindex="115" type="text" class="form-control input-sm" ng-model="fBusqueda.desdeHora" style="width: 22%; margin-left: 4px;" />
                        <input tabindex="116" type="text" class="form-control input-sm" ng-model="fBusqueda.desdeMinuto" style="width: 22%; margin-left: 4px;" />
                      </div>
                    </div>
                    <div class="inline w-md mr-xs"> 
                      <label class="control-label text-ellipsis"> Hasta </label> 
                      <div class="input-group block clearfix"> 
                        <input tabindex="120" type="text" class="form-control input-sm mask" ng-model="fBusqueda.hasta" style="width: 50%;" input-mask mask-options="{alias: 'dd-mm-yyyy'}" />
                        <input tabindex="122" type="text" class="form-control input-sm" ng-model="fBusqueda.hastaHora" style="width: 22%; margin-left: 4px;" />
                        <input tabindex="123" type="text" class="form-control input-sm" ng-model="fBusqueda.hastaMinuto" style="width: 22%; margin-left: 4px;" />
                      </div> 
                    </div>
                    <div class="inline w-sm mr" > 
                      <label class="control-label text-ellipsis"> Plan </label> 
                      <div class="input-group block clearfix"> 
                        <select class="form-control input-sm" ng-model="fBusqueda.plan" ng-options="item as item.descripcion for item in fArr.listaPlanes" 
                          ng-change="metodos.getPaginationServerSide(true);" > </select> 
                      </div>
                    </div>
                    <div class="inline w-xs mr-n" > 
                      <!-- <label class="control-label text-ellipsis">  </label>  -->
                      <div class="input-group block clearfix"> 
                        <button type="button" class="btn btn-info btn-sm" ng-click="metodos.getPaginationServerSide(true);" 
                          style="position:absolute;"> <i class="fa fa-refresh"></i> PROCESAR </button> 
                      </div> 
                    </div> 
                    <div class="inline w-xs mr-n" > 
                      <div class="input-group block clearfix"> 
                        <button type="button" class="btn btn-info btn-sm" ng-click="exportarCobroExcel(); $event.preventDefault();" 
                          style="position:absolute;"> <i class="fa fa-file-excel-o"></i> EXPORTAR </button> 
                      </div>
                    </div>
                  </div>
                  <div class="line line-dashed b-b line-sm"></div>
                  <div class="form-group mb-n text-right">
                    <button type="button" class="btn m-b-xs btn-info pull-left btn-xs" ng-click="btnBuscar();"> 
                      <i class="fa fa-search"> </i> Buscar </button>
                  </div>
                  <div class="form-group mb-n text-right">
                    <button type="button" class="btn m-b-xs btn-success pull-right btn-xs" ng-click="goToUrl('/app/boletaje-masivo'); $event.preventDefault();"> 
                      IR A BOLETAJE MASIVO </button> 
                    
                  </div>
                </div>
                <div class="col-xs-12">
                  <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize class="grid table-responsive fs-mini-grid"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div> 