<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> Proveedores </h1>
</div>
<div class="wrapper-md bg-white-tr" ng-controller="ProveedorCtrl"> 
	<div class="row">
		<div class="col-xs-12 text-right">
			<button class="btn btn-info pull-left btn-xs mb-xs" ng-click="btnBuscar();"> 
				<i class="fa fa-search"> </i> BUSCAR </button>
	        <button class="btn btn-success btn-xs" ng-click="btnNuevo();">
	        	<i class="fa fa-file-text"></i> NUEVO </button>
	        <button ng-if="mySelectionGrid.length == 1" ng-click="btnEditar();" class="btn btn-warning btn-xs"> 
	        	<i class="fa fa-edit"></i> EDITAR </button>
	        <button ng-if="mySelectionGrid.length == 1" ng-click="btnContactos();" class="btn btn-dark btn-xs"> 
	        	<i class="fa fa-plus"></i> CONTACTOS... </button>
	        <button ng-click="goToUrl('/app/usuario'); $event.preventDefault();" class="btn btn-dark btn-xs"> 
	        	<i class="fa fa-plus"></i> USUARIO... </button> 
	        <button ng-click="verFichaProveedor(); $event.preventDefault();" class="btn btn-info btn-xs"> 
	        	<i class="fa fa-eye"></i> VER FICHA </button> 
	        <button ng-click="btnExportarExcel();" class="btn btn-info btn-xs" uib-tooltip="Exportar a Excel"> 
	        	<i class="fa fa-file-excel-o"></i></button> 
	        <div class="btn-group dropdown btn-xs p-n" ng-if="mySelectionGrid.length == 1"> 
	        	<button class="btn btn-xs btn-default" data-toggle="dropdown"> Cambiar Estado 
	        		<span class="caret"></span>
	        	</button> 
        		<ul class="dropdown-menu">
		            <li><a href="" ng-click="cambiarEstado(1);">ACTIVO</a></li>
		            <li><a href="" ng-click="cambiarEstado(2);">OBSERVADO</a></li>
		            <li><a href="" ng-click="cambiarEstado(3);">INACTIVO</a></li>
		            <li class="divider"></li>
		            <li><a href="" class="text-danger" ng-click="btnAnular();"> ANULAR </a></li> 
		        </ul>
	        </div> 
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize 
				class="grid table-responsive fs-mini-grid"></div>
		</div>
	</div>
</div>